<%= form_for snippet do |f| %>
  <div class="inputs">
    <%= f.text_area :snippet, placeholder: 'Snippet', :cols => "10", :rows => "25", class: 'form-control floating-label' %>
  </div>
  
  <%= f.submit 'Save Snippet' , class: 'btn btn-success' %>
<% end%>