<h1>Snippets#index</h1>
<p>Find me in app/views/snippets/index.html.erb</p>
<% @steps.each do |step| %>
  <%= step.name %>
  <%= step.description %>

<% end %>

<% @snippets.each do |snippet| %>
  <%= snippet.snippet %>
<% end %>