<div class="container">
<h2>Snippet</h2>
  <div class="row row-centered">
    <div class="col-sm-12 col-centered">
      
      <pre>
        <code class="language-javascript">
        <%= @snippet.snippet %>
        </code>
      </pre>
      <%= link_to 'Show', snippet_path(@snippet.id), class: 'btn btn-primary' %>
      <%= link_to 'Edit', edit_snippet_path(@snippet.id), class: 'btn btn-primary' %>
      <%= link_to 'Delete', snippet_path(@snippet.id), method: :delete, class: "btn btn-warning" %>
    </div>
  </div>
</div>
