<!-- START row -->
<div class="row">
  <!-- START col -->
  <div class="col-sm-12">
    <!-- START team images -->
    <div class="row">

      <!-- START angelo -->
      <div class="col-sm-4">
        <div class="card">
          <!-- card img -->
          <div class="card-image">
            <%= image_tag("elbesto.png", :class => "card-image") %>
          </div>
          <!-- card body -->
          <div class="card-body">
            <h2 class="text-success text-center">
              Angelo Cisneros
            </h2>
            <hr>
            <p>
              I love <a href="https://www.youtube.com/watch?v=Z0AXjUy1_gY">guitar</a>, and like good 'ol Bob Ross I appreciates <a href="https://www.youtube.com/watch?v=YLO7tCdBVrA" target="_blank">happy little clouds</a> and happy little trees.
            </p>
          </div>
        </div>
        <!-- contact links -->
        <div class="btn-group btn-group-justified">
          <a href="https://github.com/el-besto" class="btn btn-primary" target="_blank"><i class="fa fa-github-square fa-fw"></i> github</a>
          <a href="http://www.linkedin.com/in/angelocisneros/" class="btn btn-primary" target="_blank"><i class="fa fa-linkedin-square fa-fw"></i> linkedin</a>
        </div>
      </div>
      <!-- END angelo -->

      <!-- START emannuel -->
      <div class="col-sm-4">
        <div class="card">
          <!-- card img -->
          <div class="card-image">
            <%= image_tag("emmy.png", :class => "card-image") %>
          </div>
          <!-- card body -->
          <div class="card-body">
            <h2 class="text-success text-center">
              Emannuel Nevarez
            </h2>
            <hr>
            <p>
              QUOTE: "When I see a bruised apple at the grocery store, I hold it close and whisper <a href="https://johnrieber.files.wordpress.com/2014/06/tom-cruise-movies.jpg" target="_blank">'who did this to you?'"</a>
            </p>
          </div>
        </div>
        <!-- contact links -->
        <div class="btn-group btn-group-justified">
          <a href="https://github.com/emmyisawizard" class="btn btn-primary" target="_blank"><i class="fa fa-github-square fa-fw"></i> github</a>
          <a href="http://www.linkedin.com/in/emannuelnevarez/" class="btn btn-primary" target="_blank"><i class="fa fa-linkedin-square fa-fw"></i> linkedin</a>
        </div>
      </div>
      <!-- END emannuel -->

      <!-- START laurie -->
      <div class="col-sm-4">
        <div class="card">
          <!-- card img -->
          <div class="card-image">
            <%= image_tag("laurie.png", :class => "card-image") %>
          </div>
          <!-- card body -->
          <div class="card-body">
            <h2 class="text-success text-center">
              Laurie Alaoui
            </h2>
            <hr>
            <p>
              I never return the same way I came from. This explains why I sometimes find myself going in circles.
            </p>
          </div>
        </div>
        <!-- contact links -->
        <div class="btn-group btn-group-justified">
          <a href="https://github.com/lalaouil" class="btn btn-primary" target="_blank"><i class="fa fa-github-square fa-fw"></i> github</a>
          <a href="http://www.linkedin.com/in/lauriealaoui/" class="btn btn-primary" target="_blank"><i class="fa fa-linkedin-square fa-fw"></i> linkedin</a>
        </div>
      </div>
      <!-- END laurie -->

    </div>
    <!-- END team images -->
  </div>
  <!-- END col -->
</div>
<!-- END row