<div class="row">
  <div class="col-sm-12">

   <!--  <h1 class="page-header">
      Our Team
    </h1> -->
  
    <!-- team images -->
    <div class="row">

      <!-- img/angelo -->
      <div class="col-sm-4">
        <h3 class="text-material-indigo text-center">
          Angelo Cisneros
        </h3>
        <div class="card">
          <div class="card-image">
            <%= image_tag("el-besto.png") %>
           <!--  <img src="http://www.intosol.com/g/images.11052012/700/IMG03968GRANITE20ANSE20SOURCE20DARGENT.jpg?http://www.intosol.com/g/images.11052012/1100/IMG03968GRANITE20ANSE20SOURCE20DARGENT.jpg?http://www.intosol.com/g/images.11052012/1300/IMG03968GRANITE20ANSE20SOURCE20DARGENT.jpg" alt="Angelo" class="card-image"> -->
          </div>
          <div class="card-body">
            <p>
              Angelo likes <a href="https://computersciencegeeks.files.wordpress.com/2013/05/puzzles.gif">puzzles</a>. He loves <a href="https://www.youtube.com/watch?v=Z0AXjUy1_gY">guitar</a>, and like good 'ol Bob Ross he appreciates <a href="https://www.youtube.com/watch?v=YLO7tCdBVrA" target="_blank">happy little clouds</a> and happy little trees.
            </p>

          </div>
        </div>

        <!-- contact links -->
        <div class="btn-group btn-group-justified">
          <a href="https://https://github.com/el-besto" class="btn btn-material-indigo">github</a>
          <a href="www.linkedin.com/in/lauriealaoui/" class="btn btn-material-indigo">linkedin</a>
        </div>

      </div>

      <!-- img/Emannuel -->
      <div class="col-sm-4">
        <h3 class="text-material-indigo text-center">Emannuel Nevarez</h3>
        <div class="card">
          <div class="card-image">
            <!-- <img src="http://www.intosol.com/g/images.11052012/700/IMG03968GRANITE20ANSE20SOURCE20DARGENT.jpg?http://www.intosol.com/g/images.11052012/1100/IMG03968GRANITE20ANSE20SOURCE20DARGENT.jpg?http://www.intosol.com/g/images.11052012/1300/IMG03968GRANITE20ANSE20SOURCE20DARGENT.jpg" alt="Emmanuel" class="card-image"> -->
            <%= image_tag("emmy.png") %>
          </div>
          <div class="card-body">
            <p>
              When I see a bruised apple at the grocery store, I hold it close and whisper <a href="https://johnrieber.files.wordpress.com/2014/06/tom-cruise-movies.jpg" target="_blank">"who did this to you?"</a> - <cite>Emmanuel</cite>
            </p>
          </div>
        </div>


        <!-- contact links -->
        <div class="btn-group btn-group-justified">
          <a href="https://github.com/emmyisawizard" class="btn btn-material-indigo">github</a>
          <a href="www.linkedin.com/in/emannuelnevarez" class="btn btn-material-indigo">linkedin</a>
        </div>
        
      </div>

      <!-- img/Laurie Alaoui -->
      <div class="col-sm-4">
        <h3 class="text-material-indigo text-center">Laurie Alaoui</h3>
        <div class="card">
          <div class="card-image">
            <!-- <img src="http://www.intosol.com/g/images.11052012/700/IMG03968GRANITE20ANSE20SOURCE20DARGENT.jpg?http://www.intosol.com/g/images.11052012/1100/IMG03968GRANITE20ANSE20SOURCE20DARGENT.jpg?http://www.intosol.com/g/images.11052012/1300/IMG03968GRANITE20ANSE20SOURCE20DARGENT.jpg" alt="Laurie Alaoui" class="card-image"> -->
            <%= image_tag("laurie.png") %>
          </div>
          <div class="card-body">
            <p>
              I never return the same way I came from. This explains why I sometimes find myself going in circles.
            </p>
          </div>
        </div>

        <!-- contact links -->
        <div class="btn-group btn-group-justified">
          <a href="https://github.com/lalaouil" class="btn btn-material-indigo">github</a>
          <a href="www.linkedin.com/in/lauriealaoui/" class="btn btn-material-indigo">linkedin</a>
        </div>
        
      </div>

    </div>
    <!-- /team images -->


    <hr>



  </div>
</div>