<!-- Main jumbotron for a primary marketing message or call to action -->
<!--     <div class="jumbotron">
      <div class="container">
        <h1>About Code-Route</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Play Now &raquo;</a></p>
      </div>
    </div> -->

    <!-- <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>1+ scientific games</h2>
          <p>
            Target a wide variety of cognitive skills. We'll help challenge you in the areas that you care about.
          </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Beat Yourself</h2>
          <p>
            See how you stack up against members of different ages.
          </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>A Personal Trainer just for you</h2>
          <p>Personalized training, based on what we've learned from analyzing aggregated data from 60+ million members.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div> -->

    <!-- </div> --> <!-- /container -->







<!-- step and code example 1 -->
<div class="container">
  <div class="row">
    
    <div class="col-sm-12">
      <section class="notes">
        
        <h3>Step Title: Setup Rails Models</h3>
        <p class="text-muted">
          Step Note: To get started building our sample application let's start from the beginning. Step Note: To get started building our sample application let's start from the beginning.Step Note: To get started building our sample application let's start from the beginning.Step Note: To get started building our sample application let's start from the beginning.Step Note: To get started building our sample application let's start from the beginning.Step Note: To get started building our sample application let's start from the beginning.
        </p>
        <div class="text-primary lead">
          rails new intro_json -T -d postgresql
          cd intro_json
          rake db:create
        </div>
      
      </section>
    </div>
    
    <!-- code model -->
    <!-- <div class="col-sm-5">
      <section>
        <pre>
          <code class="language-javascript">
            <div id="code-highlighted"></div>
          </code>
        </pre>
      </section>
    </div> -->
    <!-- /code model -->
    
    <!-- type-along snippet -->
    <div class="col-sm-8">
      <section>
        <pre>
          <code>
            <div id="code-entry-id-"></div>
          </code>
        </pre>
      </section>
    </div>
    
    <!-- action area -->
    <!-- 
    this
                <a href="#top">
    will link to 
                <a id="top"></a>
    -->
    <div class="col-sm-2">
      <section>
        <form class="move">
          <fieldset>
            <legend>Controls</legend>
            <p id="start-snippet">Start</p>
            <p><a href="#top">Next Snippet</a></p>
            <p>Timer: <span id="snippet-timer">:35</span></p>
          </fieldset>
        </form>
      </section>
    </div>
    <!-- /action area -->

  </div>
</div>
<!-- /step and code example 1 -->















<!-- step and code example n -->
<div class="container">
  <div class="row">
    
    <div class="col-sm-12">
      <section class="panel notes">
        
        <h3>Step Title: Setup Rails Models</h3>
        <p>
          Step Note: To get started building our sample application let's start from the beginning.
        </p>
        <p>
          rails new intro_json -T -d postgresql
          cd intro_json
          rake db:create
        </p>
      
      </section>
    </div>
    
    <!-- code model -->
    <!-- <div class="col-sm-5">
      <section>
        <pre>
          <code class="language-javascript">
            <div id="code-highlighted"></div>
          </code>
        </pre>
      </section>
    </div> -->
    <!-- /code model -->
    
    <!-- type-along snippet -->
    <div class="col-sm-8">
      <section>
        <pre>
          <code>
            <div> some code.....</div>
          </code>
        </pre>
      </section>
    </div>
    
    <!-- action area -->
    <div class="col-sm-2">
      <section>
        <form class="move">
          <fieldset>
            <legend>Controls</legend>
            <p id="start-snippet">Start</p>
            <p><a href="#">Next Snippet</a></p>
          </fieldset>
        </form>
      </section>
    </div>
    <!-- /action area -->

  </div>
</div>
<!-- /step and code example n -->
<!-- step and code example n -->
<div class="container">
  <div class="row">
    
    <div class="col-sm-12">
      <section class="panel notes">
        
        <h3>Step Title: Setup Rails Models</h3>
        <p>
          Step Note: To get started building our sample application let's start from the beginning.
        </p>
        <p>
          rails new intro_json -T -d postgresql
          cd intro_json
          rake db:create
        </p>
      
      </section>
    </div>
    
    <!-- code model -->
    <!-- <div class="col-sm-5">
      <section>
        <pre>
          <code class="language-javascript">
            <div id="code-highlighted"></div>
          </code>
        </pre>
      </section>
    </div> -->
    <!-- /code model -->
    
    <!-- type-along snippet -->
    <div class="col-sm-8">
      <section>
        <pre>
          <code>
            <div> some code.....</div>
          </code>
        </pre>
      </section>
    </div>
    
    <!-- action area -->
    <div class="col-sm-2">
      <section>
        <form class="move">
          <fieldset>
            <legend>Controls</legend>
            <p id="start-snippet">Start</p>
            <p><a href="#">Next Snippet</a></p>
          </fieldset>
        </form>
      </section>
    </div>
    <!-- /action area -->

  </div>
</div>
<!-- /step and code example n -->
<!-- step and code example n -->
<div class="container">
  <div class="row">
    
    <div class="col-sm-12">
      <section class="panel notes">
        
        <h3>Step Title: Setup Rails Models</h3>
        <p>
          Step Note: To get started building our sample application let's start from the beginning.
        </p>
        <p>
          rails new intro_json -T -d postgresql
          cd intro_json
          rake db:create
        </p>
      
      </section>
    </div>
    
    <!-- code model -->
    <!-- <div class="col-sm-5">
      <section>
        <pre>
          <code class="language-javascript">
            <div id="code-highlighted"></div>
          </code>
        </pre>
      </section>
    </div> -->
    <!-- /code model -->
    
    <!-- type-along snippet -->
    <div class="col-sm-8">
      <section>
        <pre>
          <code>
            <div> some code.....</div>
          </code>
        </pre>
      </section>
    </div>
    
    <!-- action area -->
    <div class="col-sm-2">
      <section>
        <form class="move">
          <fieldset>
            <legend>Controls</legend>
            <p id="start-snippet">Start</p>
            <p><a href="#">Next Snippet</a></p>
          </fieldset>
        </form>
      </section>
    </div>
    <!-- /action area -->

  </div>
</div>
<!-- /step and code example n -->
<!-- step and code example n -->
<div class="container">
  <div class="row">
    
    <div class="col-sm-12">
      <section class="panel notes">
        
        <h3>Step Title: Setup Rails Models</h3>
        <p>
          Step Note: To get started building our sample application let's start from the beginning.
        </p>
        <p>
          rails new intro_json -T -d postgresql
          cd intro_json
          rake db:create
        </p>
      
      </section>
    </div>
    
    <!-- code model -->
    <!-- <div class="col-sm-5">
      <section>
        <pre>
          <code class="language-javascript">
            <div id="code-highlighted"></div>
          </code>
        </pre>
      </section>
    </div> -->
    <!-- /code model -->
    
    <!-- type-along snippet -->
    <div class="col-sm-8">
      <section>
        <pre>
          <code>
            <div> some code.....</div>
          </code>
        </pre>
      </section>
    </div>
    
    <!-- action area -->
    <div class="col-sm-2">
      <section>
        <form class="move">
          <fieldset>
            <legend>Controls</legend>
            <p id="start-snippet">Start</p>
            <p><a href="#">Next Snippet</a></p>
          </fieldset>
        </form>
      </section>
    </div>
    <!-- /action area -->

  </div>
</div>
<!-- /step and code example n -->
SCROLL TO
<!-- step and code example n -->
<a id="top"></a>
<div class="container">
  <div class="row">
    
    <div class="col-sm-12">
      <section class="panel notes">
        
        <h3>SCROLL TO</h3>
        <p>
          Step Note: To get started building our sample application let's start from the beginning.
        </p>
        <p>
          rails new intro_json -T -d postgresql
          cd intro_json
          rake db:create
        </p>
      
      </section>
    </div>
    
    <!-- code model -->
    <!-- <div class="col-sm-5">
      <section>
        <pre>
          <code class="language-javascript">
            <div id="code-highlighted"></div>
          </code>
        </pre>
      </section>
    </div> -->
    <!-- /code model -->
    
    <!-- type-along snippet -->
    <div class="col-sm-8">
      <section>
        <pre>
          <code>
            <div> some code.....</div>
          </code>
        </pre>
      </section>
    </div>
    
    <!-- action area -->
    <div class="col-sm-2">
      <section>
        <form class="move">
          <fieldset>
            <legend>Controls</legend>
            <p id="start-snippet">Start</p>
            <p><a href="#">Next Snippet</a></p>
          </fieldset>
        </form>
      </section>
    </div>
    <!-- /action area -->

  </div>
</div>
<!-- /step and code example n -->