<h1>Sites#index</h1>
<p>Find me in app/views/sites/index.html.erb</p>
<pre><code class="language-javascript">
  $(document).on('ready page:load', function() {
      Prism.highlightAll();
  });
</code></pre>