<!-- code-rote tagline -->
<div class="jumbotron">
  <div class="container">
    <div class="col-sm-12">
      <h1 class="page-header-primary">Code-Rote <a href="/snippets/1"><span id="index-play-button" class="btn btn-material-indigo btn-fab btn-raised  mdi-av-play-arrow"></span></a></h1>
      <p>Helping coders learn faster by gamifying learning by rote.</p>
    </div>
  </div>
</div>


<div class="row">

  <!-- bart -->
  <div class="col-md-4">
    <h2 class="text-material-indigo text-center">Don't Be Bart</h2>
    <div class="card">
      <div class="card-image">
        <!-- remote img -->
        <!-- <img src="http://fusionmediamag.com/wp-content/uploads/2014/08/o-BART-SIMPSON-CHALKBOARD-facebook.jpg"> -->
        <!-- local img -->
        <%= image_tag("bart-rote.jpg") %>
      </div>
    </div>
    <p>
      <blockquote class="pull-left">
        Some people never learn... Bart has been at the drawing board for over 20 years. Let us help you NOT follow in his chalk scratch. Actually <strong>LEARN</strong> through <strong>ROTE</strong> repetition
      </blockquote>
    </p>
  </div>


  <!-- definition -->
  <div class="col-md-4">
    <h2 class="text-primary text-center">
      DEFINITION
    </h2>
    
    <div class="card">
      <!-- left in to play with alternative layout, with two barts and a scooby...-->  
       <!-- <div class="card-image">
        <img src="http://fusionmediamag.com/wp-content/uploads/2014/08/o-BART-SIMPSON-CHALKBOARD-facebook.jpg" alt="Generic placeholder image">
      </div>  -->
    </div>
    <p>
      <blockquote class="pull-left">
        Rote learning is a memorization technique based on repetition. The idea is that one will be able to quickly recall the meaning of the material the more one repeats it. 
        <small><cite class="text-muted"> <a class="text-muted" href="http://en.wikipedia.org/wiki/Rote_learning">Wikipedia</a></cite></small>
      </blockquote>
    </p>


    <!-- remember (gag) -->
    <h2 class="text-primary text-center">
      REMEMBER
    </h2>
    <div class="card">
      <!-- left in to play with alternative layout, with two barts and a scooby...-->
      <!-- <div class="card-image">
        <img src="http://fusionmediamag.com/wp-content/uploads/2014/08/o-BART-SIMPSON-CHALKBOARD-facebook.jpg" alt="Generic placeholder image">
      </div> -->
    </div>
    <p>
      <blockquote class="pull-right">
        Rote learning is a memorization technique based on repetition. The idea is that one will be able to quickly recall the meaning of the material the more one repeats it. 
        <small><cite><a class="text-muted" href="http://en.wikipedia.org/wiki/Rote_learning">Wikipedia</a></cite></small>
      </blockquote>
    </p>
  </div>



  <!-- definition -->
  <div class="col-md-4">
    <h2 class="text-material-indigo text-center">Be Scooby...</h2>
    <div class="card">
      <div class="card-image">
        
        <%= image_tag("scooby-rote.jpg") %>
        
      </div>
    </div>
    <p>
      <blockquote class="pull-left">
        Rote learning is a memorization technique based on repetition. The idea is that one will be able to quickly recall the meaning of the material the more one repeats it. Got it?
        <small><cite><a class="text-muted" href="http://en.wikipedia.org/wiki/Rote_learning">Wikipedia</a></cite></small>
      </blockquote>
    </p>
  </div>

</div>
  <div class=" btn-group-justified">
      <a href="/about" class="btn btn-material-teal btn-flat ">about code-rote</a>
      <a href="/project" class="btn btn-material-teal btn-flat ">project overview</a>
      <a href="/contact" class="btn btn-material-teal btn-flat  ">see our team</a>
  </div>
</div>