<h1 class="page-header">WDI Group Project 2</h1>

<!-- surprise -->
<p class="text-muted"><small>
  <em>It never ceases to amaze me. Just when I thought that we were supposed to be practicing what we've learned instead of learning something new by building our projects - WHAM! We are hit with a special little `gem` from GA.</em>
</small></p>
<!--/surprise -->

<div class="row well">
  <!-- project details -->
  <div class="col-sm-12 col-md-6">
    <header>Feature vs. Feature</header>
    <div class="text-muted">
      <p class="section-header">
        UX sees all things from the view or perspective of the user. I am painting in broad strokes, of course, but the bottom line is that after speaking with the UXDI group I REALLY need to step back and see the BIG picture (not the BIG technical/architectural picture) but the real purpose of why we build what we build… to answer the Why?
      </p>
      <p class="text-muted well">
        <span class="text-primary">feature |ˈfēCHər|</span>
        
        <strong>1 a distinctive attribute or aspect of something</strong>: safety features like dual air bags.
         • (usu. features) <small>a part of the face, such as the mouth or eyes, making a significant contribution to its overall appearance.</small>
      </p>
          • Linguistics a distinctive characteristic of a linguistic unit, especially a speech sound or vocabulary item, that serves to <strong>distinguish it from others of the same type</strong>.
        2 a newspaper or magazine article or a broadcast program devoted to the treatment of a <strong>particular topic</strong>, typically at length: a feature on Detroit's downtown fishery.
        • (also feature film)a full-length film intended as the <strong>main item</strong> in a movie theater program.
        
        verb [ with obj. ] <strong>have as a prominent attribute or aspect</strong>: the hotel features a large lounge, a sauna, and a coin-operated solarium.
          • have as an important actor or participant: the film featured Glenn Miller and his Orchestra.
          • [ no obj. ] (often be featured) be a significant characteristic of or take an important part in: this famous photograph is prominently featured in art collections.
          • [ no obj. ] be apparent: women rarely feature in writing on land settlement.
      </p>
      <p>
        Now that we have the dictionary definition, let's consider a concrete example of how I think there is a difference between a "feature" and a "technical feature" as a new dev, I am not as careful with my words so I think that the two different meanings of "feature" impacted the project.
      </p>
      <p>
        <strong>If we recognize that a feature is: “having killer-notes that help the user learn while they play the game”</strong> 
        is more valuable to help with prioritization than if you let a feature be “We can allow Users to authenticate with their favorite provider and they won’t have to bitch about passwords, plus we won’t have to support them with passwords either…” What true VALUE does OAUTH have for the user? Does it MAKE them WANT to use your product? No. It makes it EASIER to gain ACCESS to use your product. The key here is that I was missing the whole MVP idea: to “sketch” a product idea in hi-fi. I am not supposed to worry about OAUTH - I am supposed to identify the key differentiators of my SKETCH (what makes it worth looking at/paying attention to) and do my damnedest to make them a reality. 
      </p>
      <p class="text-danger">
        After all, who cares how many ways someone can sign-in or how many integrations you have if NOONE wants to actually use your product.
      </p>

      
    </div>
  </div>
  <!-- /project details -->
</div>





<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">User Experience</h3>
    </div>
    <div class="panel-body">
      <header>PERSONAS</header>
            <table class="table table-hover ">
                <thead>
                    <tr>
                        <th>Muscle Memory Mike</th>
                        <th>Fast Fiona</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>3-6 months coding experience</td>
                        <td>6+ months of coding experience</td>
                    </tr>
                    <tr>
                        <td>Ready for hammering down the muscle memory NOT still struggling with basic syntax</td>
                        <td>Focused on metrics &amp; tracking performance over time.</td>
                    </tr>
                    <tr>
                        <td>Structured as project style to help reinforce a verified sequence of steps.. build toward a goal. Wants to read/learn along the way. "Guide me along the right path, make sure I practice correct code in a logical sequence."</td>
                        <td>Pick and choose what steps to tackle. Doesn't care about the reading/learning along the way. "Just get me started".</td>
                    </tr>
                </tbody>
            </table>

            <p class="text-muted">ASSUMPTIONS</p>
            <ul>
              <li>Users want to practice typing scripted code NOT free-form code with hints.</li>
              <li>Users prefer a process of sequential steps over one-off tutorials</li>
              <li>Users care about being as accurate and quick as humanly possible</li>
            </ul>
    </div>
</div>





<div class="panel panel-default">
    <div class="panel-heading">Project Planning</div>
    <div class="panel-body">
      
      <header>USER STORIES</header>
        
        <div class="row">
          <div class="col-sm-12 col-md-6">
            
            <!-- user story list -->
            <dl class="dl-horizontal">
              
              <!-- user -->
              <dt>As a <span class="text-primary">User</span> I want to</dt>
                <dd>signin</dd>
                <dd>change password</dd>
                <dd>reset password</dd>
                <dd>view my profile</dd>
                <dd>view course list</dd>
                <dd>select a single course</dd>
                <dd>select a single story</dd>
                <dd>select a single feature</dd>
                <dd>resume the 'game' where I left off</dd>
                <dd>select a single course</dd>
                <dd>see my high scores &amp; additional stats</dd>
                <dd>edit profile</dd>
                <dd>see overall stats</dd>
                <dd>see where I left off</dd>
                <dd>see 'friends' or competitors stats</dd>
            </dl>
          </div>

          <div class="col-sm-12 col-md-6">
            <dl class="dl-horizontal">
            <!-- visitor -->
            <dt>As a <span class="text-primary">Visitor</span> I want to</dt>
              <dd>signup</dd>
              <dd>see what your product has to offer</dd>
              <dd>see the team members</dd>
              <dd>signup with Github Creds</dd>
              <dd>signup with Facebook creds</dd>
              <dd>signup with Twitter</dd>

            <!-- super user -->
            <dt>As a <span class="text-primary">Super User</span> I want to</dt>
              <dd>create a new course</dd>
              <dd>create a new story</dd>
              <dd>create a new feature</dd>
              <dd>create a new step</dd>
              <dd>edit a course</dd>
              <dd>see full list of registered users with key user metrics (editable)</dd>
              <dd>see key analytics from site usage</dd>
            </dl>
          </div>
        </div>
    </div>
</div>