<footer class="footer">
  <hr>
  <div class=" btn-group-justified">
    <a href="/about" class="btn btn-success btn-flat">about code-rote</a>
    <a href="/project" class="btn btn-success btn-flat">project overview</a>
    <a href="/contact" class="btn btn-success btn-flat">see our team</a>
  </div>
</footer>