<div class="navbar navbar-default">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">code-rote</a>
    </div>


    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">

        <!-- site pages -->
        <li><a href="/contact">team</a></li>
        <li><a href="/project">project</a></li>

      
        
        <!-- snippets -->
        <!-- <li class="dropdown">
          <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
            Snippets <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            
          </ul>
        </li>  -->
        
        <!-- courses -->
        <li class="dropdown">
          <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">courses <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/snippets/2">Ruby on Rails</a></li>
            <li><a href="javascript:void(0)">Javascript</a></li>
            <li><a href="javascript:void(0)">Express</a></li>
            <li><a href="javascript:void(0)">Git</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Resources</li>
            <li><a href="javascript:void(0)">Rails Docs</a></li>
            <li><a href="javascript:void(0)">One more separated link</a></li>
          </ul>
        </li>

        <!-- TESTING -->
       <!--  <li class="dropdown">
          <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
            TESTING <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'All Steps', steps_path %></li>
            <li><%= link_to 'New Step', new_step_path %></li>
            <li class="divider"></li>
            <li><a href="/snippets">All Snippets</a></li>
            <li><%= link_to 'New Snippet', new_snippet_path %></li>
            <li><a href="/snippets/2">Test Snippet</a></li>
          </ul>
        </li> -->

      </ul>


<!-- hide for presentation -->
     <!--  <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="http://fezvrasta.github.io/bootstrap-material-design/bootstrap-elements.html" data-target="#" class="dropdown-toggle mdi-action-account-box" data-toggle="dropdown"><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/signup">signup</a></li>
            <li><a href="/login">login</a></li>
            <li class="divider"></li>
            <li><a href="/profile">Profile</a></li> 
          </ul>
        </li>
      </ul>-->
      
    </div>

  </div>
</div>
  